@charset "utf-8";


//Colors
$purple: #FF0082;
$cyan: #00BCD4;
$brand-color-primary: $cyan;
$brand-color-secondary: $purple;
$brand-color-dark: #263238;
$brand-font-color: black !default;

//color overrides
$primary: $brand-color-primary;
$dark: $brand-color-dark;
$success: $purple;

$brand-header-font: 'Jaldi', sans-serif;
$brand-all-font: 'Montserrat', sans-serif;

//column
$column-gap: 1.75em;

$brand-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


//buttons
$radius-small: none;
$radius: none;
$radius-large: none;
.button {
	border-width: .18em !important;
	box-shadow: $brand-box-shadow !important;
}

// jay-cob.com custom css classes
.jcWP-screensize {
	height: 100vh;
	width: 100vw;
}
.jcWP-100vh {
	height: 100vh;
}
.jcWP-100vw {
	width: 100vw;	
}
#homepage-slogan {
	justify-content: space-between;
	flex-direction: column;
	max-height: 300px;
	height: 35vh;
}

// fonts
* {
	color: $brand-font-color;
	font-smoothing: antialiased !important;
}
$family-sans-serif: $brand-all-font;
h1,h2,h3,h4 {
	font-family: $brand-header-font;
}

h1 {
	font-size: 3.5rem !important;
}
h2 {
	font-size: 3rem !important;
}
h3 {
	font-size: 2rem !important;
}
h4 {
	font-size: 1.75rem !important;
}

#jcWP-banner {
	margin-left: .25em;
}

//yellow-section
//homepage
.has-background-transparent {
	background-color: transparent !important;
}
.yellow-section {
	position: relative;
	overflow: none;
	&::before {
		position: absolute;
		content: '';
		top: -8.1%;
		left: 0;
		width: 50%;
		height: 105%;
		background-color: #FFDA13;
	}
}


body {
	background-color: $primary;
}
.no-overflow {
	// overflow: hidden;
}
.service-cards {
	height: 30%;
	width: 100%;
	margin: .5em 0;
}



@import "jcob-cube.scss";
@import "bulma-0.7.5/bulma.sass";

#services-list {
	height: 100%;
	align-items: center;

	& ul {
		width: 100%;
	}

	& ul .service-selected {
		color: white !important;
		font-size: 1.3rem;
		font-weight: bold !important;
		background-color: $brand-color-dark !important;
		margin-top: 1em;
	}
	
	& ul li {
		transition: all 0.2s linear;
		padding: .25em .25em .25em 1.75em;
	}

	& ul .service-item {
		margin-top: 1.5em;
		cursor: pointer;
		display: block;
		font-weight: normal;
		padding: .25em .25em .25em 1.75em;

		&:hover {
			color: $grey-lighter !important;
			font-size: 1.3rem !important;
			background-color: #34444c;
		}
	}
}

#service-description-area {
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 1;

	.service-description {
		width: 85%;
		height: 325px;
		color: white;

		h2 {
			margin-bottom: 0.25em;
		}

		#service-avail {
			margin-top: 3em;
		}
	}

	#service-background {
		position: absolute;
		font-size: 9rem;
		font-family: "Arial Black", Gadget, sans-serif;
		font-weight: 800;
		z-index: -1;
		color: #1f292e;
		top: 1em;
		left: 0;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
	}
	#service-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -105%;
		left: 0;
		background-color: $brand-color-dark;
	}
}

/////////////////////////
//sidebar
#services-sidebar {
	position: fixed;
	top: -5vh;
	left: -75vw;
	padding-top: 8vh;
	padding-left: 8vw;
	height: 120vh;
	width: 65vw;
	background-color: white;
	transform: rotate(5deg);
	transition: all .5s ease-in;
	z-index: 50;

	&.show-sidebar {
		left: -5vw;
	}

	#services-sidebar-body {
		transform: rotate(-5deg);
		height: 83%;
		width: 90%;
	}

	#close-sidebar {
		position: fixed;
		top: 2vh;
		left: 63vw;
		height: 3.5em;
		width: 3.5em;
		background-color: #000;
		transform: rotate(-5deg);
		cursor: pointer;
		padding: .5em .75em;

		#chevron-left {
			color: white;
			font-size: 2.4rem;
		}
	}
}

#page-overlay {
	position: fixed;
	right: -120vw;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: $brand-color-dark;
	opacity: 0.2;
	z-index: 49;
	transition: all.5s linear;

	&.cover {
		opacity: .75;
		right: 0;
	}
}

.columns {
	margin-left: 0;	
}


//media queries
@media only screen and (min-width: 769px) and (max-width: 1023px) {
	#services-list {
		ul {
			.service-item {
				padding: .25em .25em .25em .75em;

				&:hover {
					font-size: 1rem !important;
				}
			}
			.service-selected {
				font-size: 1rem !important;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	#service-description-area .service-description {
		height: 80%;
	}
	#mobile-service-list {
		margin-top: -2em;
		margin-bottom: 2em; 
	}
	.buttons {
		flex-direction: column;

		.button {
			width: 200px;
		}
	}
	#homepage-slogan {
		height: 90vh;
		max-height: 90vh;
		padding-top: 2em;

		p, h1 {
			width: 90%;
			text-align: left;
			padding-left: 16px;
		}

		h1 {
			line-height: .8;
		}
	}
	#mobile-no-padding {
		padding: 0;
	}
	.column {
		height: 100vh;
	}
	#services-sidebar {
		left: -120vw;
		width: 95vw;
		transform: rotate(0deg);

		#services-sidebar-body, #close-sidebar {
			transform: rotate(0deg);
		}

		#close-sidebar {
			left: 88vw;
			height: 2.5em;
			width: 2.5em;
			top: 6vh;

			#chevron-left {
				font-size: 1.2rem;
			}
		}
	}

	.yellow-section::before {
		width: 100%;
	}

	#service-description-area .service-description h2 {
		line-height: 1;
	}
	#service-description-area #service-background {
		font-size: 5rem;
		transform: rotate(90deg);
		width: 100vh;
		top: 3em;
		left: -0.95em;
	}
}