///////////////////////////////
/////// media queries /////////
///////////////////////////////

///////////////////////////////
////// tab sized devices //////
////// 769px to 1023ppx ///////
///////////////////////////////
@media only screen and (min-width: 769px) and (max-width: 1023px) {
	.is-one-third-desktop, .adjust-from-tab-size {
		padding-left: 0;
		padding-top: 0;
		height: 65vh !important;
	}
	#socials-navbar { margin-top: 0; }
	#services-list {
		ul {
			.service-item {
				padding: .25em .25em .25em .75em;

				&:hover {
					font-size: 1rem !important;
				}
			}
			.service-selected {
				font-size: 1rem !important;
			}
		}
	}
}
///////////////////////////////

///////////////////////////////
//// mobile sized devices /////
//////// /up to 768px /////////
///////////////////////////////
@media only screen and (max-width: 768px) {
	.is-one-third-desktop, .adjust-from-tab-size {
		padding-left: 0;
		padding-top: 0;
		height: 65vh !important;
	}
	#socials-navbar { margin-top: 0; }
	#services-sidebar #client-detail {
		height: 100px;
	}
	#service-description-area .service-description {
		height: 80%;
	}
	#mobile-service-list {
		margin-top: -2em;
		margin-bottom: 2em; 
	}
	.buttons {
		flex-direction: column;

		.button {
			width: 200px;
		}
	}
	#homepage-slogan {
		height: 90vh;
		max-height: 90vh;
		padding-top: 2em;

		p, h1 {
			width: 90%;
			text-align: left;
			padding-left: 16px;
		}

		h1 {
			line-height: .8;
		}
	}
	#mobile-no-padding {
		padding: 0;
	}
	.column {
		height: 100vh;
	}
	#services-sidebar {
		left: -120vw;
		width: 95vw;
		transform: rotate(0deg);

		#services-sidebar-body, #close-sidebar {
			transform: rotate(0deg);
		}

		#close-sidebar {
			left: 88vw;
			height: 2.5em;
			width: 2.5em;
			top: 6vh;

			#chevron-left {
				font-size: 1.2rem;
			}
		}
	}

	.yellow-section::before {
		width: 100%;
	}

	#service-description-area .service-description h2 {
		line-height: 1;
	}
	#service-description-area #service-background {
		font-size: 5rem;
		transform: rotate(90deg);
		width: 100vh;
		top: 3em;
		left: -0.95em;
	}
}
///////////////////////////////

